<h1>THIS IS CAMPGROUNDS PAGE</h1>

<% campgrounds.forEach(function(campground){ %>
   <div>
       <h4><%= campground.name; %></h4> 
       <image src="<%= campground.image %>"</image>
   </div> 
<% }); %>