body { 
    padding-top: 70px; 
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: black;
    background-color: transparent;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

#delete {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.navbar-avatar {
  border-radius: 100%;
  height: 28px;
  width: 28px;
}